---
layout: default
---

<!-- RESEARCH -->
    <section id="research" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">I study the physics of the ocean, trying to understand what makes the water move. These are my main research topics.</h3>
                </div>
            </div>
        </div>
        {% for topic in site.data.research %}
        <div class="container">
            <div class="row research-topic">
                <div class="col-md-4">
                        <img src="img/research/{{ topic.pic }}" class="img-responsive" alt="">
                </div>
                <div class="col-lg-8">
                        <h4>{{ topic.name }}</h4>
                        <p class="text-muted">{{ topic.description }}</p>
                        <p class="text-muted"><i>find out more</i> &rarr; <a class="page-scroll" href="#{{ topic.more }}">{{ topic.more }}</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>


<!-- TEACHING -->
    <section id="teaching" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teaching</h2>
                    <h3 class="section-subheading text-muted">
                        I am an assistant professor in the <a href="http://columbia.edu">Columbia University</a>
                        <a href="http://eesc.columbia.edu">Department of Earth and Environmental Sciences</a>. These are the courses I am currently teaching.
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            {% for course in site.data.courses %}
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="{{ course.url }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/teaching/{{ course.pic }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ course.title }}</h4>
                        <p class="text-muted">{{ course.description }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

<!--- PAPERS -->
    <section id="papers" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Papers</h2>
		    <h3 class="section-subheading text-muted">Publish or perish.
		      <a href="https://scholar.google.com/citations?user=t1lmjVkAAAAJ">Google Scholar Profile</a>
		    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Submitted</h3>
                    {% bibliography  --query @unpublished %}
                </div>
	        </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>In Press / Published</h3>
    		        {% bibliography --query @article %}
                </div>
	        </div>
        </div>
    </section>

<!--- CODE -->
    <section id="code" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Code</h2>
                    <h3 class="section-subheading text-muted">Software is the machinery for transforming raw data and ideas into scientific results.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">
                    <p class="large text-muted">The scientific community is becoming increasingly aware that open access to research code is an essential ingredient for scientific reproducibility and progress. I strive to publish all my resesarch code in online repositories, and I contribute to several open source projects. Python is my weapon of choice.</p>
                    <p class="large text-muted">The projects listed at right represent my reasonably well organized, well documented software packages suitable for general use. In addition, I have lots more code associated with specific papers and research projects available on my <a href="http://github.com/rabernat">github</a> and <a href="http://bitbucket.org/ryanaberanthey">bitbucket</a> sites.</p>
                </div>
                <div class="col-md-6">
                    <ul class="code">
                        {% for code in site.data.codes %}
                        <li>
                            <h4><i class="fa fa-{{ code.network }}"></i> &nbsp;
                            <a href="{{ code.url }}">{{code.name}}</a></h4>
                            <p>{{code.description}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>


<!--- VISUALIZATION -->
    <section id="video" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Video</h2>
                    <h3 class="section-subheading text-muted">Our human brains excell at identifying patterns from moving images. Video is an essential tool for my science.<br />See all of my videos on my <a href="https://vimeo.com/user3588357">Vimeo page</a>.</h3>
                </div>
            </div>
            <div class="row">
                {% for video in site.data.vimeos %}
                <div class="col-md-6 text-center">
	           <div class="vimeo-wrapper">
                    <iframe src="https://player.vimeo.com/video/{{ video.id }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		   </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

<!-- people Section -->
    <section id="people" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research Group</h2>
                    <h3 class="section-subheading text-muted">These are the people who make the science.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.data.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/people/{{ member.pic }}" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="section-subheading text-muted">Other Collaborators</h3>
                </div>
            </div>
            <div class="row">
                {% for person in site.data.collaborators %}
                <div class="col-md-3"><div class="collaborator">
                <a href="{{ person.url }}">{{person.name}}</a>
                <br /><i class="fa fa-university"></i> &nbsp; {{ person.place }}
                </div></div>
                <!-- >{{ person.place }}{% if forloop.last %} &nbsp; {% else %}, {% endif %} -->
                {% endfor %}
            </div>
        </div>
    </section>
