
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" id="blog">
               <div class="intro-heading">Gyre &amp; Channel</div>
                <div class="intro-lead-in">A Physical Oceanography Blog</div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
