  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2015</span>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                        <a href="http://ldeo.columbia.edu"><img src="{{ site.baseurl }}/img/LamontLogo_trans.png"></a>
                </div>
            </div>
        </div>
    </footer>
