
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Combining Theory, Models, and Observations</div>
                <div class="intro-heading">Big Data Oceanography</div>
                <a href="#research" class="page-scroll btn btn-xl">find out more...</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

