
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Combining Theory, Models, and Observations</div>
                <div class="intro-heading">Big Data Oceanography</div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <ul class="list-inline social-buttons">
                            {% for network in site.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <a href="#research" class="page-scroll btn btn-xl">dive in...</a>
		&nbsp; &nbsp;
		<a href="/cv/" class="page-scroll btn btn-xl">Abernathey CV</a>
            </div>
        </div>
    </header>

    <div class="portfolio-modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
                <div class="modal-body">
                    <h3>Site Moved</h3>
                    <hr class="star-primary">
                    <p>The main website for Ryan Abernathey's Research group has moved to
                    <a href="https://ocean-transport.github.io/">ocean-transport.github.io</a>.
                    Please update your bookmarks. The content here is no longer updated.
                    This site will continue to exist for a while but will eventually be taken down.
                    </p>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                </div>
        </div>
    </div>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
